<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sqlite" connectionString="Data Source=|DataDirectory|\PackagingScann.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite" />
  </connectionStrings>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="DataServiceSoap" />
        </basicHttpBinding>
        <customBinding>
            <binding name="DataServiceSoap12">
                <textMessageEncoding messageVersion="Soap12" />
                <httpTransport />
            </binding>
        </customBinding>
    </bindings>
    <client>
        <endpoint address="http://172.18.20.170/dataService.asmx" binding="basicHttpBinding"
            bindingConfiguration="DataServiceSoap" contract="ServiceReference1.DataServiceSoap"
            name="DataServiceSoap" />
        <endpoint address="http://172.18.20.170/dataService.asmx" binding="customBinding"
            bindingConfiguration="DataServiceSoap12" contract="ServiceReference1.DataServiceSoap"
            name="DataServiceSoap12" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    </assemblyBinding>
  </runtime>
</configuration>
